.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}